<link rel="stylesheet" href="/static/css/beeseo-theme.css">
<link rel="stylesheet" href="/static/css/beeseo-nav.css?v=3">
<link rel="stylesheet" href="/static/css/beeseo-nav-auth.css?v=1">
<link rel="stylesheet" href="/static/css/beeseo-keyword-tools.css">
<link rel="stylesheet" href="/static/css/beeseo-chatbot.css?v=4">
<script src="/static/js/beeseo-theme-boot.js"></script>
<script src="/static/js/beeseo-admin-nav.js?v=3" defer></script>
<script src="/static/js/beeseo-nav-auth.js?v=1" defer></script>
