<link rel="stylesheet" href="/static/css/digiseo-theme.css">
<link rel="stylesheet" href="/static/css/digiseo-tables.css?v=3">
<link rel="stylesheet" href="/static/css/digiseo-nav.css?v=8">
<link rel="stylesheet" href="/static/css/digiseo-nav-auth.css?v=1">
<link rel="stylesheet" href="/static/css/digiseo-keyword-tools.css?v=8">
<link rel="stylesheet" href="/static/css/digiseo-chatbot.css?v=4">
<script src="/static/js/digiseo-theme-boot.js"></script>
<script src="/static/js/digiseo-nav-active.js?v=3" defer></script>
<script src="/static/js/digiseo-admin-nav.js?v=3" defer></script>
<script src="/static/js/digiseo-nav-auth.js?v=2" defer></script>
